.container {
    padding: 40px;
    color: var(--foreground);
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.questionBox {
    background: var(--bg-90);
    border: 1px solid var(--bg-70);
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: var(--primary);
    transition:
        border 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
}

.filterContainer {
    margin-top: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

/* Стили для красивого вывода выбранных тегов */
.appliedTags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.appliedTag {
    background-color: #444;
    border: 1px solid #ff8c00;
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 16px;
    color: #ff8c00;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.appliedTag:hover {
    background-color: #ff8c00;
    color: #1a1a1a;
}

.removeTagButton {
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
}
