.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    border: none;
    color: var(--foreground);
    background-color: var(--primary);
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--tertiary);
}

.alt {
    background-color: transparent;
    color: var(--primary);
}

.xs {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
}

.sm {
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.md {
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
}

.lg {
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

.xl {
    padding: 1.5rem 3rem;
    font-size: 1.8rem;
}
